.profile {
    width: 410px;
    margin: 74px auto 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile__greetings {
    margin: 0 0 123px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.profile__form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile__input-label {
    width: 100%;
    padding: 0 0 16px;
    margin: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    border-bottom: 1px solid #424242;
    display: flex;
    justify-content: space-between;
}

.profile__input-label:last-of-type {
    padding: 17px 0 0;
    border-bottom: 0;
}

.profile__input {
    width: 80%;
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #fff;
}

.profile__btn-edit {
    width: fit-content;
    padding: 0;
    margin: 220px 0 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    transition: opacity 0.3s ease;
}

.profile__btn-logout {
    width: fit-content;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EE3465;
    transition: opacity 0.3s ease;
}

.profile__btn-logout:hover, .profile__btn-edit:hover {
    opacity: .7;
}

.profile__btn-submit {
    width: 100%;
    height: 45px;
    margin: 220px 0 16px;
    background-color: #3456F3;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: opacity 0.3s ease;
}

.profile__btn-submit:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .profile {
        width: 260px;
        margin: 70px auto 40px;
    }

    .profile__btn-edit {
        margin: 379px 0 16px;
        font-size: 12px;
        line-height: 15px;
    }

    .profile__btn-logout {
        font-size: 12px;
        line-height: 15px;
    }

    .profile__btn-submit {
        margin: 379px 0 16px;
        font-size: 12px;
        line-height: 15px;
    }
}


