.burger-menu {
    display: none;
}

@media screen and (max-width: 767px) {
    .burger-menu {
        background-color: rgba(0, 0, 0, .3);
        display: flex;
        position: fixed;
        justify-content: right;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        transition: visibility .3s, opacity .3s ease;
    }

    .burger-menu_open {
        visibility: visible;
        opacity: 1;
    }

    .burger-menu__content {
        width: 520px;
        background-color: #202020;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 159px 0 90px;
    }

    .burger-menu__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger-menu__nav-link {
        width: fit-content;
        margin-bottom: 22px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        text-decoration: none;
        padding-bottom: 4px;
        border-bottom: 2px solid transparent;
        transition: opacity 0.3s ease;
    }

    .burger-menu__nav-link:hover, .burger-menu__profile-link:hover {
        opacity: .7;
    }

    .burger-menu__nav-link_active {
        border-bottom: 2px solid #fff;
    }

    .burger-menu__nav-link_active:hover {
        opacity: 1;
        cursor: default;
    }

    .burger-menu__nav-link:last-of-type {
        margin: 0;
    }

    .burger-menu__profile-link {
        width: 100px;
        height: 32px;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transition: opacity 0.3s ease;
    }

    .burger-menu__profile-link-text {
        margin: 0 0 0 11px;
        font-weight: 500;
        font-size: 13px;
        line-height: 12px;
        color: #fff;
    }

    .burger-menu__container-profile-icon {
        width: 26px;
        height: 26px;
        margin-right: 3px;
        background-color: #313131;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 519px) {
    .burger-menu__content {
        width: 100%;
        padding: 144px 0 46px;
    }

    .burger-menu__nav-link {
        margin-bottom: 15px;
        padding-bottom: 7px;
    }
}
